{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block conteudo %}

<div class='row'>
    
    {% if not request.user.is_authenticated %}
        <div class='col-lg '>
            <h4>Login</h4>
            <p> Faça log in em sua conta abaixo: </p>

            <form method='POST' action=''>
                {% csrf_token %}
                <div class="form-group">
                  <label for="InputUsuario1">Usuário</label>
                  <input name='usarname' type="text" class="form-control" id="InputUsuario1" aria-describedby="usuarioHelp" placeholder="Digite seu usuário">
                </div>
                <div class="form-group">
                  <label for="InputPassword">Senha</label>
                  <input name='password' type="password" class="form-control" id="InputPassword" placeholder="Insira sua senha aqui.">
                </div>

                <button type="submit" class=" btn btn-primary btn-block btn-lg mb-3">Enviar</button>

            </form>
        </div>
    {% endif %}

    <div class='col-lg' 'mt-3'>
        {% block titulocad %}
        <h4>Cadastro</h4>
        <p> Não tem cadastro? Faça já o seu: </p>
        {% endblock titulocad %}
        <form method='POST' action="">
            {% csrf_token %}
            {{ userform|crispy }}
            {{ perfilform|crispy }}
            <div class="row">
                <div class='col'>
                    <button type='submit' class= 'btn btn-primary btn-block 
                        btn-lg'>
                        Enviar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock conteudo %}